.home-page {
  position: relative;

  .logo-container {
    position: absolute;
    font-family: 'Coolvetica';

    @media (max-width: 1330px) {
      top: -50px;
      font-size: 80rem;
    }
    @media (min-width: 650px) {
      left: 50%;
    }

    .logo-m {
      font-size: 70rem;
      font-weight: bold;
      position: absolute;
      bottom: auto;
      left: 25px;
      top: -120px;
      text-shadow: -15px 5px 10px rgb(0, 162, 255);
      color: rgb(48, 46, 46);

      transition: all 1s ease-in-out;
      animation: rotate 2s ease-in-out forwards;
      transform: rotate(25deg);
      animation-fill-mode: forwards;
      &:hover {
        scale: 1.2;
      }

      @keyframes rotate {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(350deg);
        }
      }

      @media (max-width: 650px) {
        font-size: 40rem;
        top: -30px;
        left: 190px;
        transform: rotate(25deg);
        transition: all 2s ease-in-out;
      }
      @media (min-width: 900px) {
        font-size: 60rem;
        top: -100px;
        left: 100px;
        z-index: 0;
        transform: rotate(25deg);
      }
    }
  }
}
